.search-container {
    position: relative;


#book-search {
    width: 250px;
    padding: .3rem 1rem;
    margin: 0 2rem;
}

.search-results-outer {
    display: none;
    position: absolute;
    margin: 0 2rem;
    top: 30px;
    background-color: white;
    width: 250px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 .2rem .2rem rgba(0,0,0,.2);
    z-index: 10;
}

.book-item {
    text-decoration: none;
    color: #2e3440;
    display: flex;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.2);

    &:hover {
        color: darkmagenta;
    }

    img {
        width:50px;
        height: 80px;
        object-fit: cover;
        align-self: center;
        border-radius: 3px;
        box-shadow: 0 .2rem .2rem rgba(0,0,0,.2);
    }

    p {
        margin-top: 0;
        padding-left: 1rem;
    }
}
}