body {
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 1000px;
    padding: 0 4rem;
    margin: 0 auto;
}

nav {
    padding: 1rem;
    background-color: lightblue;

    a {
        padding: 1rem;
    }
}

@import 'pages/index.scss'