body {
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

#main-content {
    max-width: 1000px;
    padding: 0 4rem;
    margin: 0 auto;
}



@import 'pages/index.scss';
@import 'pages/bookdetail.scss';
@import 'auth/register.scss';
@import 'common/navigation.scss';
@import 'admin/admin.scss'