body {
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 1000px;
    padding: 0 4rem;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    // padding: .5rem;
    // background-color: #81ADC8;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);

    .selected {
        padding: 1rem;
        color:darkmagenta;
        border-bottom: 3px solid darkmagenta;
    }

    a {
        padding: 1rem;
        margin: 0 1rem;
        text-decoration: none;
        color: #222;
        border-bottom: 3px solid transparent;
        &:hover {
            color:darkmagenta;
            border-bottom: 3px solid darkmagenta;
        }
    }

    button {
        border: 0;
        background-color: #c7dbdf;
        padding: .5rem;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            background-color: pink;
        }
    }
}

@import 'pages/index.scss';
@import 'pages/bookdetail.scss';
@import 'auth/register.scss'