.book-container {
    padding: 0 2rem;
}

#book-detail {
    display: flex;
    padding-top: 4rem;

    .book-info {
        position: relative;
        // padding-left: 2rem;
        // padding-right: 2rem;
    }

    img {
        height: 400px;
        width: 270px;
        object-fit: cover;
    }

    h2 {
        margin-top: 0;
        font-size: 1.5rem;
        letter-spacing: 0.02rem;
        font-weight: 600;
    }

    .pages {
        font-weight: 300;
        color: #444;
    }

    .category {
        color: rgb(13, 141, 184);
        border: 1px solid lightblue;
        padding: 0.3rem;
        border-radius: 3px;
    }

    .description {
        margin: 2rem 0;
    }

    .ctas {
        // position: absolute;
        display: flex;
        // bottom: 0;

        button {
            cursor: pointer;
            border: 0;
            margin-right: 1rem;
            padding: 0.5rem 2rem;
            border-radius: 3px;
            white-space: nowrap;

            &:hover {
                background-color: plum;
            }

            &.green {
                background-color: #d0f0c0;

                &:hover {
                    background-color: plum;
                }
            }
        }
    }
}

#reviews-section {
    .review-container {
        padding: 1rem;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 3px;
        margin-bottom: 1rem;
        
    }
}

#review-form {

    margin-top: 2rem;
  form {
      display: flex;
      flex-direction: column;
  }
    textarea {
        border: 2px solid rgba(0,0,0,.1);
        border-radius: 3px;
    }

    button {
        cursor: pointer;
        width: 200px;
        border: 0;
        margin: 2rem 0;
        padding: .5rem;
        border-radius: 3px;

        &:hover {
            background-color: plum;
        }
    }
}
