#book-detail {
    display: flex;
    padding-top: 4rem;

    .book-info {
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    img {
        height: 400px;
        width: 270px;
        object-fit: cover;
    }

    h2 {
        margin-top: 0;
        font-size: 1.5rem;
        letter-spacing: 0.02rem;
        font-weight: 600;
    }

    .pages {
        font-weight: 300;
        color: #444;
    }

    .category {
        color: rgb(13, 141, 184);
        border: 1px solid lightblue;
        padding: 0.3rem;
        border-radius: 3px;
    }

    .description {
        margin-top: 2rem;
    }

    .ctas {
        position: absolute;
        bottom: 0;

        button {
            border: 0;
            margin: 1rem 0;
            padding: 0.5rem 2rem;
            border-radius: 3px;
            white-space: nowrap;

            &:hover {
                background-color: plum;
            }
        }
    }
}
