// html {
//     font-family: 'Open Sans', sans-serif;
//     padding: 3rem;
// }

// .container {
//     max-width: 900px;
//     margin: 0 auto;
// }

// .page-title {
//     text-align:center;
//     font-weight: 400;
//     font-size: 2.5rem;
// }

.section-container {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.books-container {
    display: flex;
    // flex-flow: row wrap;
    overflow-x: auto;
    padding: 2rem 0;

    .book-card {
        min-width: 16%;
        // margin: 0 auto;
        // padding: 2rem;
        margin: 0 1rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        margin-bottom: 2rem;
        // border-radius: 5px;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
    }
    
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }
    
    .loader {
        height: 2rem;
        height: 2rem;
        background: transparent url('https://classes.codingbootcamp.cz/assets/classes/1478/kisspng-lolcat-kitten-pet-5afe4a36c9ec56.1433183815266145828271.png') center/contain no-repeat scroll;
        animation: rotation 1s infinite linear;
    }
}