#search-results {
    .book-item {
        display: flex;
        margin-bottom: 1rem;
        text-decoration: none;

        img {
            width: 130px;
            height: 180px;
            object-fit: cover;
            border-radius: 3px;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
        }

        .book-info {
            margin-left: 1.5rem;
            color: #2e3440;
    
            &:hover {
                color: darkmagenta;
            }
        } 

        .author {
            font-weight: 300;
            margin: .5rem 0;
        }

        .pages {
            font-weight: 300;
            color: #444;
            margin: .5rem 0;
        }
    
        .category {
            font-size: .8rem;
            color: rgb(13, 141, 184);
            border: 1px solid lightblue;
            padding: 0.3rem;
            border-radius: 3px;
        }
    }
}
